html, body, #content {
    height: 100vh;
    width: 100vw;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tabContentHome {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundHome {
    display: flex;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/70531218_p0.png);
    background-size: cover;
    z-index: 50;
}

.paragraphContainer {
    z-index: 51;
    position: absolute;
    background-color: rgba( 0, 0, 0, 0.7);
    width: 75vw;
    font-size: large;
    text-justify: auto;
    left: 0;
    right: 0;
    margin: auto;
}
